:root {
    --dark: #2a3b42;
    --light: #fff;
    --accent: #ae682b;
    --font-family1-serif: 'Berkshire Swash', 'Times New Roman', serif;
    --font-family2-sans-serif: 'Poiret One', 'arial', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

ol,
ul {
    list-style: none;
}

.navbar {
    width: 100%;
    background-color: var(--dark);
    padding-left: 0px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    display: block;
    width: 18vw;
    margin-top: 3.5vw;
    float: left;
    margin-left: 0px;
}

.navbar a {
    display: block;
    padding: 0vw;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poiret One', 'arial', sans-serif;
    font-size: clamp(8px, 1.5vw, 16px);
    font-weight: 900;
    letter-spacing: .7vw;
    background-color: var(--dark);
    color: var(--light);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar a:hover {
    background-color: #ABB6BB;
}

.logo {
    display: inline-block;
}

.logo img {
    max-width: 8vw;
    max-height: 18vw;
    vertical-align: middle;
    padding-left: 1vw;
}

body {
    background: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-color: #000;
    font-size: clamp(10px, 1.75vw, 16px);
    line-height: 1.5;
}

header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: var(--dark);
    color: #fff;
    font-family: 'Poiret One', 'arial', sans-serif;
    float: right;
}

.landing h1 {
    font-size: 1.75vw;
    font-family: 'Poiret One', 'arial', sans-serif;
    margin-top: .5vw;
    margin-left: 25%;
}

.landing h2 {
    margin-top: 0px;
    margin-left: 2%;
    font-size: 5.75vw;
    font-family: 'Berkshire Swash', 'Times New Roman', serif;
    line-height: .8;
    text-align: center;
    font-weight: normal;
}

h3 {
    margin-top: -1vw;
    margin-left: 2%;
    margin-right: 25%;
    font-size: 2.75vw;
    font-family: 'Poiret One', 'arial', sans-serif;
    text-align: right;
}

h4 {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: clamp(16px, 2.5vw, 34px);
    font-family: 'Poiret One', 'arial', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    color: #f7d4c6;
}

h5 {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: clamp(16px, 3vw, 40px);
    font-family: 'Poiret One', 'arial', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .7vw;
    color: var(--accent);
}

h6 {
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 2.5vw;
    font-family: 'Poiret One', 'arial', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .7vw;
    color: var(--dark; )
}

a {
    text-decoration: none;
    color: var(--dark);
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #2a3b42;
    color: #fff;
    text-align: center;
    padding: 1vw;
}

.header {
    background-color: #fff;
    text-align: left;
    padding: 2vw;
}

.landing {
    width: 100%;
    margin-bottom: 0%;
    background-color: var(--dark);
    color: var(--light);
    padding: 5vw 10vw 5vw 10vw;
}

.about {
    width: 100%;
    margin: 0px;
    padding: 5vw 7vw 5vw;
    box-sizing: inherit;
    display: flex;
    background: #f5f3ef;
    font-size: clamp(10px, 1.75vw, 16px);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-color: #000;
    line-height: 1.5;
    justify-content: center;
}

.about-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
}

.about-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.about-photo {
    width: 100%;
    max-width: 500px;
    padding: 0vw 2vw 0vw 2vw;
}

.about-photo img {
    width: 100%;
    border-radius: 2vw;
}

.work-bkrd {
    width: 100%;
    background: #ABB6BB;
}

.work {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    padding: 2vw 5vw 10vw 5vw;
    font-size: clamp(10px, 1.75vw, 16px);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-color: #000;
    line-height: 1.5;
    text-align: center;
}

.work-featured {
    display: grid;
}

.work-featured img {
    filter: opacity(0.5);
    max-width: 100%;
}

.work-featured img:hover {
    filter: none !important;
}

.featured-items1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.featured-projects-content-R1 {
    display: grid;
    grid-area: 1 / 1 / 6 / 13;
    z-index: 1;
}

.featured-project-header-R1 {
    display: grid;
    grid-area: 1 / 8 / 2 / 13;
    font-size: clamp(8px, 1.5vw, 18px);
    font-family: 'Poiret One', 'arial', sans-serif;
    text-align: right;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 900;
    letter-spacing: .7vw;
    color: var(--dark);
    z-index: 2;
    white-space: nowrap;
}

.featured-project-title-R1 {
    display: grid;
    grid-area: 2 / 8 / 3 / 13;
    font-size: clamp(10px, 3vw, 30px);
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: .2vw;
    color: var(--dark);
    z-index: 3;
}

.featured-description-R1 {
    display: grid;
    grid-area: 3 / 6 / 5 / 13;
    font-size: clamp(8px, 1.25vw, 14px);
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    padding-right: 2%;
    padding-left: 2%;
    background-color: var(--dark);
    color: #fff;
    border-radius: 0vw;
    z-index: 5;
}

.featured-project-photo-R1 {
    display: grid;
    grid-area: 1 / 1 / 6 / 8;
    padding-right: 2%;
    z-index: 4;
}

.featured-items2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.featured-projects-content-L {
    display: grid;
    grid-area: 1 / 1 / 6 / 13;
    z-index: 1;
}

.featured-project-header-L {
    display: grid;
    grid-area: 1 / 1 / 2 / 6;
    font-size: clamp(8px, 1.5vw, 18px);
    font-family: 'Poiret One', 'arial', sans-serif;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 900;
    letter-spacing: .7vw;
    color: var(--dark);
    z-index: 2;
    white-space: nowrap;
}

.featured-project-title-L {
    display: grid;
    grid-area: 2 / 1 / 3 / 6;
    font-size: clamp(10px, 3vw, 30px);
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: .2vw;
    color: var(--dark);
    z-index: 3;
}

.featured-description-L {
    display: grid;
    grid-area: 3 / 1 / 5 / 8;
    font-size: clamp(8px, 1.25vw, 14px);
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-left: 2%;
    background-color: var(--dark);
    color: #fff;
    border-radius: 0vw;
    z-index: 5;
}

.featured-project-photo-L {
    display: grid;
    grid-area: 1 / 6 / 6 / 13;
    padding-left: 2%;
    z-index: 4;
}

.featured-items3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.featured-projects-content-R2 {
    display: grid;
    grid-area: 1 / 1 / 6 / 13;
    z-index: 1;
}

.featured-project-header-R2 {
    display: grid;
    grid-area: 1 / 8 / 2 / 13;
    font-size: clamp(8px, 1.5vw, 18px);
    font-family: 'Poiret One', 'arial', sans-serif;
    text-align: right;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 900;
    letter-spacing: .7vw;
    color: var(--dark);
    z-index: 2;
    white-space: nowrap;
}

.featured-project-title-R2 {
    display: grid;
    grid-area: 2 / 8 / 3 / 13;
    font-size: clamp(10px, 3vw, 30px);
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: .2vw;
    color: var(--dark);
    z-index: 3;
}

.featured-description-R2 {
    display: grid;
    grid-area: 3 / 6 / 5 / 13;
    font-size: clamp(8px, 1.25vw, 14px);
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    padding-right: 2%;
    padding-left: 2%;
    background-color: var(--dark);
    color: #fff;
    border-radius: 0vw;
    z-index: 5;
}

.featured-project-photo-R2 {
    display: grid;
    grid-area: 1 / 1 / 6 / 8;
    padding-right: 2%;
    z-index: 4;
}

.work-other-items img {
    filter: opacity(0.5);
    max-width: 200px;
}

.work-other-items img:hover {
    filter: none !important;
}

.work-other-header {
    display: block;
    width: 100%;
    padding: 3%;
    font-size: clamp(8px, 1.5vw, 26px);
    font-family: 'Poiret One', 'arial', sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 900;
    letter-spacing: .7vw;
    color: var(--dark);
}

.work-other-grid-bkrd {
    /* width: 100%; */
    background: #ABB6BB;
}

@media (max-width: 768px) {
    .work-other-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .work-other-container {
        display: grid;
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5%;
        grid-row-gap: 5%;
        background: #ABB6BB;
    }
}


/* .work-other-container {
    display: grid;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    background: #ABB6BB;
} */

.work-other-items {
    display: grid;
    width: 100%;
}

.work-other-title a {
    font-size: clamp(8px, 1.5vw, 22px);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .25vw;
}

.work-other-description p {
    font-size: clamp(8px, 1.25vw, 14px);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #fff;
}

.contact-bkrd {
    width: 100%;
    background-color: #eeeae5;
}

.contact {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 2vw 5vw 5vw 5vw;
    box-sizing: inherit;
    display: block;
    background: #eeeae5;
    font-size: clamp(8px, 1.5vw, 16px);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-color: #000;
    line-height: 1.5;
    text-align: left;
}

.contact-container label {
    font-size: clamp(10px, 1.75vw, 16px);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-color: #000;
}

input[type=text],
select,
textarea {
    margin: auto;
    width: 50%;
    padding: 15px;
    border: 1px solid #ae682b;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
    display: block;
}

input[type=submit] {
    margin: auto;
    width: 50%;
    background-color: #eeeae5;
    color: black;
    padding: 12px 20px;
    border: 1px solid #ae682b;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.submit:hover {
    margin: auto;
    width: 50%;
    background-color: #ffffff;
    color: black;
    padding: 12px 20px;
    border: 1px solid #ae682b;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
}

label {
    margin: auto;
    width: 50%;
    text-align: left;
    display: block;
}

.contact-links {
    width: 100%;
    display: inline-block;
    background-color: var(--dark);
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
}

.contact-links li {
    display: inline-block;
    width: 185px;
    margin-top: 36px;
    margin-left: 0px;
}

.contact-links a {
    display: block;
    padding: 3px;
    text-decoration: none;
    font-family: 'Poiret One', 'arial', sans-serif;
    font-weight: 900;
    letter-spacing: .3vw;
    text-transform: uppercase;
    font-size: clamp(6px, .75vw, 10px);
    background-color: var(--dark);
    color: var(--light);
    white-space: nowrap;
}

.contact-links img {
    max-width: 30px;
}

.footer p {
    padding: 30px 0px 0px 0px;
    font-size: clamp(8px, 1vw, 12);
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.page-container {
    position: relative;
}

.fwproject {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}

.fwproject-hero img {
    max-width: 60vw;
    max-height: 60vw;
    margin-top: 20px;
}

.wireframe {
    max-width: 50vw;
    max-height: 60vw;
    margin-top: 20px;
}

.fwproject-accent {
    display: flex;
    flex-direction: column;
    background: #f5f3ef;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vw;
    padding: 0vw 10vw 5vw 10vw;
    object-fit: fill;
}

.fwproject-overview,
.fwproject-design,
.fwproject-strategy,
.fwproject-research,
.fwproject-branding,
.fwproject-final,
.fwproject-closing {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.fwproject-closing {
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5vw;
}

.fwproject-overview h1,
.fwproject-design h1,
.fwproject-strategy h1,
.fwproject-branding h1,
.fwproject-final h1 {
    font-size: clamp(28px, 3.75vw, 55px);
    font-family: 'Poiret One', 'arial', sans-serif;
    text-align: center;
    margin-top: 3vw;
}

.fwproject-header h1 {
    font-size: clamp(32px, 4.5vw, 60px);
    font-family: 'Lora', 'arial', sans-serif;
    margin: 20px auto 0px;
}

.fwproject-research h1,
.fwproject-closing h1 {
    font-size: clamp(28px, 3.75vw, 55px);
    font-family: 'Poiret One', 'arial', sans-serif;
    text-align: center;
    margin-top: 0vw;
}

.fwproject-overview h2 {
    font-size: clamp(20px, 2.25vw, 32px);
    font-family: 'Open Sans', 'arial', sans-serif;
    text-align: center;
}

.wireframe-sketch h2,
.fwproject-research h2,
.fwproject-strategy h2,
.fwproject-design h2,
.fwproject-branding h2,
.fwproject-closing h2 {
    font-size: clamp(20px, 2.25vw, 32px);
    font-family: 'Open Sans', 'arial', sans-serif;
    text-align: left;
    margin: 2vw 0vw 2vw 0vw;
}

.fwproject-research p,
.fwproject-strategy p,
.fwproject-design p,
.fwproject-branding,
.fwproject-final p,
.fwproject-closing p {
    font-size: clamp(12px, 2vw, 16px);
    font-family: 'Open Sans', 'arial', sans-serif;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}

.fwproject-header p {
    font-size: clamp(14px, 1.75vw, 26px);
    font-family: 'Poiret One', 'arial', sans-serif;
    margin: 30px auto 0px;
}

.fwproject-design h3,
.fwproject-overview h3,
.fwproject-research h3,
.fwproject-strategy h3 {
    font-size: clamp(14px, 1.75vw, 28px);
    font-family: 'Open Sans', 'arial', sans-serif;
    text-align: left;
    margin-top: 2vw;
    margin-left: 0;
}

.fwproject-design h3 {
    font-size: clamp(14px, 1.75vw, 28px);
    font-family: 'Open Sans', 'arial', sans-serif;
    text-align: center;
    margin: 0;
}

.fwproject-overview-grid {
    display: grid;
    grid-template-columns: 66% 34%;
    grid-gap: 4vw;
}

.fwproject-overview-left,
.fwproject-overview-right {
    grid-area: col;
    text-align: left;
    font-size: clamp(10px, 1.7vw, 18px);
}

.fwproject-overview-left {
    grid-column: 1;
}

.fwproject-overview-left h2 {
    margin: 40px auto 20px 0px;
}

.challenge-description {
    font-size: clamp(10px, 2vw, 18px);
}

.fwproject-overview-right {
    grid-column: 2;
}

.fwproject-overview-left li {
    list-style-type: circle;
    padding-left: 20px;
}

.fwproject-research li {
    list-style-type: circle;
    text-align: left;
}

.card-research li {
    list-style-type: decimal;
    text-align: left;
    font-size: clamp(10px, 1.25vw, 12px);
}

.card-persona li {
    list-style-type: circle;
    text-align: left;
    font-size: clamp(10px, 1.25vw, 12px);
}

.team-members p {
    margin: 0;
}

.view-website-button,
.view-github-button,
.view-work-button {
    background-color: #ae682b;
    border: none;
    border-radius: 35px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: opacity 200ms ease, opacity 200ms ease;
    color: #f1f2f6;
    margin-right: 15px;
}

.view-work {
    padding-top: 3vw;
    align-items: center;
}

.fwproject-white {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 5vw 10vw 0vw 10vw;
    object-fit: fill;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 5vw;
}

.wireframe-sketch .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 2vw;
}

.wireframe-sketch img,
.mid-wireframe img {
    margin: 0 auto;
    max-width: 80vw;
    align-items: center;
}

.POV-HMW img,
.appmap img,
.task-flow img,
.litchat-logo img,
.final-website img {
    margin: 0 auto;
    max-width: 80vw;
    align-items: center;
}

.wireframe-sketch img,
.litchat-logo img {
    box-shadow: 0 0 10px rgb(228, 228, 228);
}

.empathy-map img,
.pain-gain img {
    margin: 0 auto;
    max-width: 300px;
    align-items: center;
}

.card {
    background-color: #f5f3ef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.card-research {
    background-color: #f5f3ef;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 275px;
}

.card-persona {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 4px #ABB6BB;
    text-align: center;
    width: 275px;
}

.card-user-persona {
    background-color: #f5f3ef;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
}


.card-research h3,
.card-persona h3 {
    font-size: clamp(14px, 1.75vw, 28px);
    font-family: 'Open Sans', 'arial', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.card-research h4 {
    font-size: clamp(10px, 1.5vw, 18px);
    font-family: 'Open Sans', 'arial', sans-serif;
    text-align: left;
    color: #2a3b42;
    margin-top: .5vw;
    margin-left: 0;
    letter-spacing: 0px;
}

@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
}

.fwproject-research,
.fwproject-strategy,
.fwproject-branding {
    max-width: 960px;
    margin: 0 auto;
    text-align: left;
}

.fwproject-strategy {
    margin-top: 2vw;
}

.fwproject-research h4 {
    font-size: clamp(10px, 1.5vw, 18px);
    font-family: 'Open Sans', 'arial', sans-serif;
    text-align: left;
    color: #2a3b42;
    margin-top: 1vw;
    margin-left: 0;
    letter-spacing: 0px;
}

.fwproject-research ul {
    padding-left: 40px;
}

.text-link {
    display: inline-block;
    color: lightseagreen;
    font-weight: bold;
}